.DS_Store
target
bin
.svn
*.class
*.plugin.xml_gen
*.versionsBackup
*.bak

plugin.xml_gen
org.xtext.plantuml/src-gen
org.xtext.plantuml/xtend-gen
org.xtext.plantuml.tests/src-gen
org.xtext.plantuml.ui/src-gen
org.xtext.plantuml.ui/xtend-gen

.metadata

src-gen/
xtend-gen/

*.classpath

src-gen
xtend-gen
*.jar
